# Basic EDA for M5 Competition

The goal of this notebook is to get more insights from the data and get some patterns for later feature engineering. I have already choosed the type of my first model for this competition, here I just want to get more familiar with the data.

**Data we have**
- <code>calendar.csv</code> - Contains information about the dates on which the products are sold.
- <code>sales_train_validation.csv</code> - Contains the historical daily unit sales data per product and store [d_1 - d_1913]
- <code>sample_submission.csv</code> - The correct format for submissions. Reference the Evaluation tab for more info.
- <code>sell_prices.csv</code> - Contains information about the price of the products sold per store and date.

<code>sales_train_evaluation.csv</code> - Available one month before competition deadline. Will include sales [d_1 - d_1941]

We are given historic sales data in the sales_train_validation dataset.

- rows exist in this dataset for days d_1 (2011-01-29) to d_1913 (2016-04-24). We are given the department, category, state, and store id of the item.
- d_1914 (2016-04-25) - d_1941 (2016-05-22) represents the validation rows which we will predict in stage 1
- d_1942 (2016-05-23) - d_1969 (2016-06-19) represents the evaluation rows which we will predict for the final competition standings.

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

In [14]:
DATA_DIR = "data"
calendar = pd.read_csv(f'{DATA_DIR}/calendar.csv')
sales_train_val = pd.read_csv(f'{DATA_DIR}/sales_train_validation.csv')
sell_prices = pd.read_csv(f'{DATA_DIR}/sell_prices.csv')
sample_submission = pd.read_csv(f'{DATA_DIR}/sample_submission.csv')

In [26]:
calendar.tail(60)

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
1909,2016-04-21,11612,Thursday,6,4,2016,d_1910,NaN,NaN,NaN,NaN,0,0,0
1910,2016-04-22,11612,Friday,7,4,2016,d_1911,NaN,NaN,NaN,NaN,0,0,0
1911,2016-04-23,11613,Saturday,1,4,2016,d_1912,NaN,NaN,NaN,NaN,0,0,0
1912,2016-04-24,11613,Sunday,2,4,2016,d_1913,NaN,NaN,NaN,NaN,0,0,0
1913,2016-04-25,11613,Monday,3,4,2016,d_1914,NaN,NaN,NaN,NaN,0,0,0
1914,2016-04-26,11613,Tuesday,4,4,2016,d_1915,NaN,NaN,NaN,NaN,0,0,0
1915,2016-04-27,11613,Wednesday,5,4,2016,d_1916,NaN,NaN,NaN,NaN,0,0,0
1916,2016-04-28,11613,Thursday,6,4,2016,d_1917,NaN,NaN,NaN,NaN,0,0,0
1917,2016-04-29,11613,Friday,7,4,2016,d_1918,NaN,NaN,NaN,NaN,0,0,0
1918,2016-04-30,11614,Saturday,1,4,2016,d_1919,Pesach End,Religious,NaN,NaN,0,0,0
1919,2016-05-01,11614,Sunday,2,5,2016,d_1920,OrthodoxEaster,Religious,NaN,NaN,1,1,0
1920,2016-05-02,11614,Monday,3,5,2016,d_1921,NaN,NaN,NaN,NaN,1,0,1
1921,2016-05-03,11614,Tuesday,4,5,2016,d_1922,NaN,NaN,NaN,NaN,1,1,1
1922,2016-05-04,11614,Wednesday,5,5,2016,d_1923,NaN,NaN,NaN,NaN,1,0,0
1923,2016-05-05,11614,Thursday,6,5,2016,d_1924,Cinco De Mayo,Cultural,NaN,NaN,1,1,1
1924,2016-05-06,11614,Friday,7,5,2016,d_1925,NaN,NaN,NaN,NaN,1,1,1
1925,2016-05-07,11615,Saturday,1,5,2016,d_1926,NaN,NaN,NaN,NaN,1,1,0
1926,2016-05-08,11615,Sunday,2,5,2016,d_1927,Mother's day,Cultural,NaN,NaN,1,0,1
1927,2016-05-09,11615,Monday,3,5,2016,d_1928,NaN,NaN,NaN,NaN,1,1,1
1928,2016-05-10,11615,Tuesday,4,5,2016,d_1929,NaN,NaN,NaN,NaN,1,0,0
1929,2016-05-11,11615,Wednesday,5,5,2016,d_1930,NaN,NaN,NaN,NaN,0,1,1
1930,2016-05-12,11615,Thursday,6,5,2016,d_1931,NaN,NaN,NaN,NaN,0,1,1
1931,2016-05-13,11615,Friday,7,5,2016,d_1932,NaN,NaN,NaN,NaN,0,1,0
1932,2016-05-14,11616,Saturday,1,5,2016,d_1933,NaN,NaN,NaN,NaN,0,0,1
1933,2016-05-15,11616,Sunday,2,5,2016,d_1934,NaN,NaN,NaN,NaN,0,1,1
1934,2016-05-16,11616,Monday,3,5,2016,d_1935,NaN,NaN,NaN,NaN,0,0,0
1935,2016-05-17,11616,Tuesday,4,5,2016,d_1936,NaN,NaN,NaN,NaN,0,0,0
1936,2016-05-18,11616,Wednesday,5,5,2016,d_1937,NaN,NaN,NaN,NaN,0,0,0
1937,2016-05-19,11616,Thursday,6,5,2016,d_1938,NaN,NaN,NaN,NaN,0,0,0
1938,2016-05-20,11616,Friday,7,5,2016,d_1939,NaN,NaN,NaN,NaN,0,0,0
1939,2016-05-21,11617,Saturday,1,5,2016,d_1940,NaN,NaN,NaN,NaN,0,0,0
1940,2016-05-22,11617,Sunday,2,5,2016,d_1941,NaN,NaN,NaN,NaN,0,0,0
1941,2016-05-23,11617,Monday,3,5,2016,d_1942,NaN,NaN,NaN,NaN,0,0,0
1942,2016-05-24,11617,Tuesday,4,5,2016,d_1943,NaN,NaN,NaN,NaN,0,0,0
1943,2016-05-25,11617,Wednesday,5,5,2016,d_1944,NaN,NaN,NaN,NaN,0,0,0
1944,2016-05-26,11617,Thursday,6,5,2016,d_1945,NaN,NaN,NaN,NaN,0,0,0
1945,2016-05-27,11617,Friday,7,5,2016,d_1946,NaN,NaN,NaN,NaN,0,0,0
1946,2016-05-28,11618,Saturday,1,5,2016,d_1947,NaN,NaN,NaN,NaN,0,0,0
1947,2016-05-29,11618,Sunday,2,5,2016,d_1948,NaN,NaN,NaN,NaN,0,0,0
1948,2016-05-30,11618,Monday,3,5,2016,d_1949,MemorialDay,National,NaN,NaN,0,0,0
1949,2016-05-31,11618,Tuesday,4,5,2016,d_1950,NaN,NaN,NaN,NaN,0,0,0
1950,2016-06-01,11618,Wednesday,5,6,2016,d_1951,NaN,NaN,NaN,NaN,1,1,0
1951,2016-06-02,11618,Thursday,6,6,2016,d_1952,NBAFinalsStart,Sporting,NaN,NaN,1,0,1
1952,2016-06-03,11618,Friday,7,6,2016,d_1953,NaN,NaN,NaN,NaN,1,1,1
1953,2016-06-04,11619,Saturday,1,6,2016,d_1954,NaN,NaN,NaN,NaN,1,0,0
1954,2016-06-05,11619,Sunday,2,6,2016,d_1955,NaN,NaN,NaN,NaN,1,1,1
1955,2016-06-06,11619,Monday,3,6,2016,d_1956,NaN,NaN,NaN,NaN,1,1,1
1956,2016-06-07,11619,Tuesday,4,6,2016,d_1957,Ramadan starts,Religious,NaN,NaN,1,1,0
1957,2016-06-08,11619,Wednesday,5,6,2016,d_1958,NaN,NaN,NaN,NaN,1,0,1
1958,2016-06-09,11619,Thursday,6,6,2016,d_1959,NaN,NaN,NaN,NaN,1,1,1
1959,2016-06-10,11619,Friday,7,6,2016,d_1960,NaN,NaN,NaN,NaN,1,0,0
1960,2016-06-11,11620,Saturday,1,6,2016,d_1961,NaN,NaN,NaN,NaN,0,1,1
1961,2016-06-12,11620,Sunday,2,6,2016,d_1962,NaN,NaN,NaN,NaN,0,1,1
1962,2016-06-13,11620,Monday,3,6,2016,d_1963,NaN,NaN,NaN,NaN,0,1,0
1963,2016-06-14,11620,Tuesday,4,6,2016,d_1964,NaN,NaN,NaN,NaN,0,0,1
1964,2016-06-15,11620,Wednesday,5,6,2016,d_1965,NaN,NaN,NaN,NaN,0,1,1
1965,2016-06-16,11620,Thursday,6,6,2016,d_1966,NaN,NaN,NaN,NaN,0,0,0
1966,2016-06-17,11620,Friday,7,6,2016,d_1967,NaN,NaN,NaN,NaN,0,0,0
1967,2016-06-18,11621,Saturday,1,6,2016,d_1968,NaN,NaN,NaN,NaN,0,0,0
1968,2016-06-19,11621,Sunday,2,6,2016,d_1969,NBAFinalsEnd,Sporting,Father's day,Cultural,0,0,0

We can see that that we don't have so much events in test periods, so may be it is not so important to learn features for every event every year, may be we can learn only on one year from dataset, so we can generate more features for this. Let's check how many unique items are in categorical event features.

In [23]:
print('number of event_name_1 unique values: {}'.format(calendar['event_name_1'].nunique()))
print('event_type_1 unique values: {}'.format(calendar['event_type_1'].unique()))
print('number of event_name_2 unique values: {}'.format(calendar['event_name_2'].nunique()))
print('event_type_2 unique values: {}'.format(calendar['event_type_2'].unique()))

number of event_name_1 unique values: 30
event_type_1 unique values: [nan 'Sporting' 'Cultural' 'National' 'Religious']
number of event_name_2 unique values: 4
event_type_2 unique values: [nan 'Cultural' 'Religious']

In [20]:
sell_prices

        store_id        item_id  wm_yr_wk  sell_price
0           CA_1  HOBBIES_1_001     11325        9.58
1           CA_1  HOBBIES_1_001     11326        9.58
2           CA_1  HOBBIES_1_001     11327        8.26
3           CA_1  HOBBIES_1_001     11328        8.26
4           CA_1  HOBBIES_1_001     11329        8.26
...          ...            ...       ...         ...
6841116     WI_3    FOODS_3_827     11617        1.00
6841117     WI_3    FOODS_3_827     11618        1.00
6841118     WI_3    FOODS_3_827     11619        1.00
6841119     WI_3    FOODS_3_827     11620        1.00
6841120     WI_3    FOODS_3_827     11621        1.00

[6841121 rows x 4 columns]

For sell prices may be we can generate feauture that show how much percents is higher or below the mean? When prices  are lower than usual people tend to buy more, may be we can benefit from this feauture. It is better to calculate this feature on window that is not more than a year or two, because on large windows prices are also affected by such factors as an inflation.

In [24]:
sales_train_val

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,2,1,1,1,0,1,1,1
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,5,4,1,0,1,3,7,2
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,1,0,1,1,2,2,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,0,0,2,2,...,2,0,0,0,0,0,1,0,0,1
30486,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
30487,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,0,6,0,2,...,2,1,0,2,0,1,0,0,1,0
30488,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,1,0,0,1,0,3,1,3
30489,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0